body {
  width: 100%;
  background-color: #efefef;
}
a {
}
p {
  text-align: justify;
}
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.image {
  width: 20px;
  float: left;
}
.profile-info {
}
.info {
  margin-right: 15px;
}
